extends layout

block content
  h1.col-md-2.col-md-offset-5= title
  div.contact-info.col-md-2.col-md-offset-5
    div.content-row
      span vk:&nbsp
      span
        a(href="http://vk.com/olegkhomenko") перейти
    div.content-row
      span twitter:&nbsp
      span
        a(href="http://twitter.com/olegkhomenko_") почитать
    div.content-row
      span А еще я ищу работу:&nbsp
      span
        a(href="http://tomsk.hh.ru/resume/a0307f2bff02189c590039ed1f69507a6b7935") hh.ru
    div.content-row
      span email:
      span olegkhomenkoru(at)gmail.com