h1 {
    text-rendering: optimizeLegibility;
    text-align: center;
    line-height: 1.1em;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    -webkit-font-smoothing: antialiased;
}

.contact-info {
    width: 25%;
}